<style>

/* CSS stylesheet for a witchy notebook */

/* Layout */

body {
    padding-left:10% !important;
    padding-right:10% !important;
}

.container {
    width:99% !important;
}

.jp-Notebook {
    width:80% !important;    
}

div.jp-InputPrompt.jp-InputArea-prompt {
    display:none;
}

div.jp-OutputPrompt.jp-OutputArea-prompt {
    display:none;
}

div.CodeMirror-gutters {
    display:none;
}

div.jp-RenderedHTMLCommon.jp-RenderedHTML.jp-OutputArea-output {
    padding:1em !important;
}

/* Markdown */

/* text */

h1 {
    font-family:Lucida Bright;
    font-size:48px !important;
    color:#92361f;
    font-weight:bold !important;
    padding-top:30px;
    margin-bottom:5px !important;
}

h2 {
    font-family:Lucida Bright;
    font-size:26px !important;
    color:#0F3A49;
    font-weight:bold !important;
    margin-top:0px !important;
    padding-bottom:50px;
}

h3 {
    font-family:Lucida Bright;
    font-size:22px !important;
    color:#92361f;
    font-weight:bold !important;
    margin-bottom:10px !important;
}

h4 {
    font-family:Lucida Bright;
    font-size:20px !important;
    color:#0F3A49;
    font-weight:bold !important;
    margin-top:10px !important;
    margin-bottom:10px !important;
}

h5 {
    font-family:Lucida Bright;
    color:#0F3A49;
    font-size:13px !important;
    font-style: normal !important;
    font-weight:bold !important;
    margin-top:0px !important;
    margin-bottom:10px !important;
}

p {
    font-family:Bell MT;
    color:#040609;
    font-size:16px !important;
    line-height:22px;
}

/* lists */

ul {
    font-family:Bell MT;
    color:#040609;
    font-size:16px;
    line-height:22px;
}

li {
    list-style-type: disc;
}

ul li::marker {
    color:#92361f;
    font-size:16px;
}

ul ul li::marker {
    color:#0F3A49;
    font-size:16px;
}

/* output */

div.output_subarea.output_text.output_stream.output_stdout pre {
    font-family:Bell MT;
    font-size:16px;
    padding-left:1em;
    padding-top:1em;
}

div.jp-RenderedText.jp-OutputArea-output pre {
    font-family:Bell MT;
    font-size:16px;
    padding-left:1em;
    padding-top:1em;
}

.dataframe {
    background:#ffffff;
    box-shadow:0px 1px 2px #bbb;
    font-family:Bell MT;
    margin-top:1em !important;
    margin-left:1em !important;
}

.dataframe thead th, .dataframe tbody td {
    padding:1em;
    font-family:Bell MT;
}

/* links */

a:link {
    color:#49727D !important;
}

a:visited {
    color:#49727D !important;
}

a:hover {
    color:#ba9c30 !important;
}

a:active {
    color:#49727D !important;
}

/* codecells*/

div.CodeMirror-lines {
    padding:1em !important;
}

div.jp-InputArea.jp-Cell-inputArea pre {
    padding:1em !important;
}

div.CodeMirror-lines pre span.cm-comment {
    color:#49727D !important;
}

div.jp-InputArea.jp-Cell-inputArea pre span.c1 {
    color:#49727D !important;
}

div.CodeMirror-lines pre span.cm-string {
    color:#A23828 !important;
}

div.jp-InputArea.jp-Cell-inputArea pre span.s1, div.jp-InputArea.jp-Cell-inputArea pre span.s2 {
    color:#A23828 !important;
}

div.CodeMirror-lines pre span.cm-keyword, div.CodeMirror-lines pre span.cm-builtin {
    color:#238920 !important;
}

div.jp-InputArea.jp-Cell-inputArea pre span.k, div.jp-InputArea.jp-Cell-inputArea pre span.kn, div.jp-InputArea.jp-Cell-inputArea pre span.ow {
    color:#238920 !important;
}

div.CodeMirror-lines pre span.cm-operator {
    color:#6834AC !important;
}

div.jp-InputArea.jp-Cell-inputArea pre span.o {
    color:#6834AC !important;
}

div.jp-InputArea.jp-Cell-inputArea pre span.p {
    color:#000000 !important;
}

</style>